examen-final/examen-final-alumnos_cache/
.Rhistory
.Rproj.user/
primer-parcial/examen-parcial
primer-parcial/examen-parcial.pdf
primer-parcial/examen-parcial_cache/
primer-parcial/examen-parcial_files/
examen-final/examen-final-alumnos.log
examen-final/examen-final-alumnos.tex
examen-final/examen-final-alumnos.aux
examen-final/examen-final-alumnos_files/
examen-final/examen-final-alumos-entrega.aux
examen-final/examen-final-alumos-entrega.log
examen-final/examen-final-alumos-entrega_cache/
examen-final/examen-final-alumos-entrega_files/
examen-final/texput.log
texput.log
