examen-final/examen-final-alumnos_cache/
.Rhistory
.Rproj.user/
primer-parcial/examen-parcial
primer-parcial/examen-parcial.html
primer-parcial/examen-parcial.pdf
primer-parcial/examen-parcial_cache/
primer-parcial/examen-parcial_files/
examen-final/examen-final-alumnos.html
